<section class="container">
  <div class="loading block" *ngIf="loading">
    <h2 class="red">Загрузка...</h2>
  </div>
  <div *ngIf="!loading" class="game_table block">
    <div *ngIf="!isShowFullQuestion">
      <app-game-table
        [questions]="questions"
        [categories]="categories"
        (onShowFullQuestion)="showFullQuestion($event)"
      >
      </app-game-table>
      <p (click)="showPopupWithFinishGame()">Завершить игру→</p>
    </div>
    <app-one-question
      *ngIf="isShowFullQuestion"
      [question]="question"
      (onCloseFullQuestion)="closeFullQuestion($event)"
    ></app-one-question>
  </div>
</section>

<div class="blackScreen" *ngIf="isShowPopapFinishGame" [@popup]="">
  <div class="modal">
    <h3>
      Вы точно хотите закончить игру? Вам осталось ответить всего на
      {{ questions.length - countOfQuestion }} вопроса(ов)
    </h3>
    <br />
    <div class="btn-group">
      <button class="btn btn-primary" (click)="finishGame()">Завершить</button>
      <button class="btn btn-alternate" (click)="closePopupWithFinishGame()">
        Продолжить
      </button>
    </div>
  </div>
</div>
