<app-top-bar
  (onShowPopupWithRegistrationUser)="showPopupWithRegistrationUser($event)"
></app-top-bar>
<div [@routeAdmin]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<app-popup-new-user
  *ngIf="isShowPopupWithRegistrationUser"
  [@popup]=""
  (onOpenPopup)="showPopupWithRegistrationUser($event)"
>
</app-popup-new-user>

<ng-template appRef></ng-template>

<footer>
  <h3 class="red">Экспедиция памяти</h3>
  <a [routerLink]="['/']" class="black">Вернуться на главную</a>
</footer>
