@import "../../../../../style/_classes.scss";
@import "../../../../../style/_colors.scss";

section {
  min-height: 100vh;
}

.loading {
  h3 {
    text-align: center;
  }
}

.sort {
  display: flex;
  p {
    margin-right: 1rem;
  }
}

table {
  width: 100%;
  text-align: center;
  th {
    padding: 10px;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(2n) {
    background: $gray;
  }
}

.bold {
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.light {
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 800px) {
  .sort {
    flex-direction: column;

    p {
      margin-bottom: 0.2rem;
      font-size: 1rem;
    }
  }
  button {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
  table {
    margin-top: 1rem;
    th {
      display: none;
    }
    tr {
      display: block;
      td {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        padding: 5px;

        &::before {
          content: attr(data-label);
          font-weight: bold;
          margin-right: 20px;
        }
      }
    }
  }
}
