@import "../../../../../style/_classes.scss";
@import "../../../../../style/_colors.scss";

.loading {
  h3 {
    text-align: center;
  }
}

table {
  width: 100%;
  text-align: center;
  th {
    padding: 10px;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(2n) {
    background: $gray;
  }
}