@import "../../../../../style/_classes.scss";
@import "../../../../../style/_colors.scss";

.loading {
  h3 {
    text-align: center;
  }
}

.sort {
  display: flex;
  p {
    margin-right: 1rem;
  }
}

table {
  width: 100%;
  text-align: center;
  th {
    padding: 10px;
  }
  td {
    padding: 10px;
  }
  tr:nth-child(2n) {
    background: $gray;
  }
}

.bold {
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.light {
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}
