@import "_colors.scss";

.block {
  width: 100%;
}

.container {
  padding: 2% 10%;
  height: 100%;
  width: 100%;
}

.mb {
  &-4 {
    margin-bottom: 0.25rem;
  }
}

.mt {
  &-4 {
    margin-top: 0.25rem;
  }
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
}

a {
  display: block;
  text-decoration: underline;
}

small {
  font-weight: normal;
  display: block;
}

ul {
  li {
    list-style-type: none;
  }
}

.btn {
  display: block;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 3rem;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  &-primary {
    color: $white;
    background: $red;
    border: 1px solid $red;

    &:hover {
      background: $bright_red;
    }

    &:disabled {
      background: $red;
      color: $gray;
    }
  }
  &-alternate {
    color: $red;
    background: transparent;
    border: 1px solid $red;

    &:hover {
      color: $bright_red;
      border: 1px solid $bright_red;
    }

    &:disabled {
      color: $gray;
      border: 1px solid $red;
    }
  }
  &-white {
    color: $red;
    background: $white;
    border: 1px solid $white;

    &:hover {
      color: $bright_red;
    }

    &:disabled {
      color: $gray;
    }
  }

  &-gray {
    color: $gray;
    background: $white;
    border: 1px solid $gray;

    &:hover {
      color: rgb(175, 175, 175);
    }

    &:disabled {
      color: #ccc;
    }
  }

  &-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.form {
  &-group {
    margin-bottom: 0.5rem;
  }
  &-name {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.1rem;
  }
  &-control {
    display: block;
    position: relative;
    border: 1px solid $red;
    background: $white;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    &:focus {
      border: 1px solid $black !important;
      color: $black !important;
      outline: none;
    }
  }
  &-text {
    font-size: 0.75rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.1rem;
  }
  &-error {
    width: 100%;
    background: $red;
    color: $white;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
}

.is_invalid {
  border-color: $red;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(/../assets/svg/invalid.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 1.25rem 1.25rem;
}

.is_valid {
  border-color: $green;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(/../assets/svg/valid.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 1.25rem 1.25rem;
}

.find {
  padding-left: calc(1.5em + 1rem);
  background-image: url(/../assets/svg/find.svg);
  background-repeat: no-repeat;
  background-position: left calc(0.375em + 0.1875rem) center;
  background-size: 1.25rem 1.25rem;
}

.red {
  color: $red;
}
.white {
  color: $white;
}
.black {
  color: $black;
}

.active {
  font-weight: 900;
}

.blackScreen {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal {
  width: 50vw;
  padding: 2%;
  z-index: 2;
  background: white;
  position: relative;
  border-radius: 10px;
  margin-left: 25vw;
  text-align: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

@media (max-width: 800px) {
  .container {
    padding: 2% 1%;
    height: 100%;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .btn-group {
    flex-direction: column;
    button {
      margin-bottom: 1%;
    }
  }
  .modal {
    width: 95vw;
    margin-left: 2.5vw;
  }
}
