$red: #dc4128;
$gray: #e2e3e5;
$white: #fff;
$black: #000;
$bright_red: #fa4128;
$green: #155724;

$chooseAnswerBorder: #856404;
$chooseAnswerBody: #fff3cd;

$correctAnswerBorder: #155724;
$correctAnswerBody:#d4edda;

$incorrectAnswerBorder: #721c24;
$incorrectAnswerBody: #f8d7da;




