<section class="block">
  <h1 class="red">Экспедиция памяти</h1>
  <div class="fullTable">
    <div *ngFor="let category of categories" class="row">
      <p class="category_name">{{ category.name }}</p>
      <div class="allCost">
        <p
          *ngFor="let question of questions | category: category.id"
          (click)="openFullQuestion(question.id)"
          [ngClass]="{ disabled: question.isOpen }"
        >
          {{ question.cost }}
        </p>
      </div>
    </div>
  </div>
</section>
