<section class="container" *ngIf="!loading">
  <h2>Список вопросов</h2>
  <h3>Вопросы 1 категории</h3>
  <div
    *ngFor="let question of questions | category: 'category1'; let i = index"
    class="one-question"
  >
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <p><strong>Стоимость:</strong> {{ question.cost }}</p>
    <p><strong>Варианты ответа</strong></p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 1 }">
      {{ question.answer1 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 2 }">
      {{ question.answer2 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 3 }">
      {{ question.answer3 }}
    </p>
    <i
      class="fab fa-youtube"
      *ngIf="question.URLVideo"
      data-title="Данный вопрос содержит видео"
    ></i>
    <i
      *ngIf="question.picture"
      class="fas fa-images"
      data-title="Данный вопрос содержит изображение"
    ></i>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)">
      Удалить вопрос
    </button>
  </div>
  <h3>Вопросы 2 категории</h3>
  <div
    *ngFor="let question of questions | category: 'category2'; let i = index"
    class="one-question"
  >
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <p><strong>Стоимость:</strong> {{ question.cost }}</p>
    <p><strong>Варианты ответа</strong></p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 1 }">
      {{ question.answer1 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 2 }">
      {{ question.answer2 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 3 }">
      {{ question.answer3 }}
    </p>
    <i
      class="fab fa-youtube"
      *ngIf="question.URLVideo"
      data-title="Данный вопрос содержит видео"
    ></i>
    <i
      *ngIf="question.picture"
      class="fas fa-images"
      data-title="Данный вопрос содержит изображение"
    ></i>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)">
      Удалить вопрос
    </button>
  </div>
  <h3>Вопросы 3 категории</h3>
  <div
    *ngFor="let question of questions | category: 'category3'; let i = index"
    class="one-question"
  >
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <p><strong>Стоимость:</strong> {{ question.cost }}</p>
    <p><strong>Варианты ответа</strong></p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 1 }">
      {{ question.answer1 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 2 }">
      {{ question.answer2 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 3 }">
      {{ question.answer3 }}
    </p>
    <i
      class="fab fa-youtube"
      *ngIf="question.URLVideo"
      data-title="Данный вопрос содержит видео"
    ></i>
    <i
      *ngIf="question.picture"
      class="fas fa-images"
      data-title="Данный вопрос содержит изображение"
    ></i>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)">
      Удалить вопрос
    </button>
  </div>
  <h3>Вопросы 4 категории</h3>
  <div
    *ngFor="let question of questions | category: 'category4'; let i = index"
    class="one-question"
  >
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <p><strong>Стоимость:</strong> {{ question.cost }}</p>
    <p><strong>Варианты ответа</strong></p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 1 }">
      {{ question.answer1 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 2 }">
      {{ question.answer2 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 3 }">
      {{ question.answer3 }}
    </p>
    <i
      class="fab fa-youtube"
      *ngIf="question.URLVideo"
      data-title="Данный вопрос содержит видео"
    ></i>
    <i
      *ngIf="question.picture"
      class="fas fa-images"
      data-title="Данный вопрос содержит изображение"
    ></i>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)">
      Удалить вопрос
    </button>
  </div>
  <h3>Вопросы 5 категории</h3>
  <div
    *ngFor="let question of questions | category: 'category5'; let i = index"
    class="one-question"
  >
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <p><strong>Стоимость:</strong> {{ question.cost }}</p>
    <p><strong>Варианты ответа</strong></p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 1 }">
      {{ question.answer1 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 2 }">
      {{ question.answer2 }}
    </p>
    <p [ngClass]="{ correctAnswer: question.correctAnswer == 3 }">
      {{ question.answer3 }}
    </p>
    <i
      class="fab fa-youtube"
      *ngIf="question.URLVideo"
      data-title="Данный вопрос содержит видео"
    ></i>
    <i
      *ngIf="question.picture"
      class="fas fa-images"
      data-title="Данный вопрос содержит изображение"
    ></i>
    <button class="btn btn-primary" (click)="deleteQuestion(question.id)">
      Удалить вопрос
    </button>
  </div>
</section>

<div class="loading container" *ngIf="loading">
  <h2 class="red">Загрузка...</h2>
</div>

<ng-template appRef></ng-template>
