@import "../../../../../style/_classes.scss";
@import "../../../../../style/_colors.scss";

section {
  min-height: 100vh;
  h3 {
    position: sticky;
    top: 0;
    background: $white;
  }
  .edit-category  {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
    * {
      margin-right: 1rem;
    }
  }
  .one-question {
    margin-bottom: 1rem;
    i {
      color: $red;
      font-size: 2rem;
      margin-bottom: 0.25rem;
      position: relative;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: $bright_red;
        &::after {
          content: attr(data-title);
          position: absolute;
          left: 130%;
          top: 30%;
          z-index: 1;
          background: rgba(255, 255, 255, 0.9);
          font-size: 11px;
          padding: 5px 10px;
          border: 1px solid $bright_red;
          min-width: 500%;
          font-weight: 500;
        }
      }
    }
  }
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.correctAnswer {
  color: $green;
  font-weight: 900;
}

.disabled {
  color: $gray;
  i {
    color: $gray !important;

    &:hover {
      color: $gray !important;

      &::after {
        content: attr(data-title);
        position: absolute;
        left: 130%;
        top: 30%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9) !important;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid $gray !important;
        min-width: 500%;
        font-weight: 500;
      }
    }
  }
  .correctAnswer {
    color: $gray;
  }
}

@media (max-width: 800px) {
  .edit-category {
    align-items: center;
    margin-bottom: 0.5rem;
    flex-direction: column;

    * {
      margin-right: 0;
      margin-bottom: 0.25rem;
    }
  }
}
